<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title></title>
    </head>
    <body>
        <div>
            <label>compagnie</label> : <input type="text" name="nom" />
            <label>destination</label> : <input type="text" name="nom" />
            <label>date</label> : <input type="text" name="nom" />
            <label>prix</label> : <input type="text" name="nom" />
            <label>places disponibles</label> : <input type="text" name="nom" />
            <button type="button" onclick="">Envoyer</button>
        </div>
    </body>
</html>