<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/custom.js"></script>
        <title></title>
    </head>
    <body>
        <div class="header">
        </div>
        <div id="container">
            <div>
                <a href="/enregdestination"><button type="button" class="button" onmouseover="buttonover()" >Enregistrer une nouvelle destination</button></a>
                <a href="/enregvol"><button type="button" class="button" onmouseover="buttonover()" >Enregistrer un nouveau vol</button></a>
                <a href="/enregclient"><button type="button" class="button" onmouseover="buttonover()" >Enregistrer un nouveau client</button></a>
                <a href="/enreglogement"><button type="button" class="button" onmouseover="buttonover()" >Enregistrer un nouveau logement</button></a>
                <a href="/verifdispovol"><button type="button" class="button" onmouseover="buttonover()" >Verifier la disponibilite d'un vol</button></a>
                <a href="/verifdispologement"><button type="button" class="button" onmouseover="buttonover()" >Verifier la disponibilite d'un logement</button></a>
                <a href="/reservvol"><button type="button" class="button" onmouseover="buttonover()" >Reserver un vol</button></a>
                <a href="/reservlogement"><button type="button" class="button" onmouseover="buttonover()">Reserver un logement</button></a>
                <!--<button type="button" class="button" onmouseover="buttonover()" onclick="location.href/enregdestination.html">Enregistrer une nouvelle destination</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="enregvol()">Enregistrer un nouveau vol</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="enregclient()">Enregistrer un nouveau client</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="enreglogement()">Enregistrer un nouveau logement</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="verifdispovol()">Verifier la disponibilite d'un vol</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="verifdispologment()">Verifier la disponibilite d'un logement</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="reservvol()">Reserver un vol</button>
                <button type="button" class="button" onmouseover="buttonover()" onclick="reservlogement()">Reserver un logement</button>-->
            </div>
        </div>
    </body>
</html>